.switch-container {
  display: flex;
  justify-content: end;
  .language-switch {
    width: 100px;
    button {
      width: 50%;
      padding: 8px;
      border: none;
      background-color: #cacbd5;
      cursor: pointer;
      &.active-language {
        background-color: #242c5c;
        color: #ffffff;
      }
    }
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  .logo {
    max-width: 150px;
    text-align: left;
  }

  .title {
    font-size: 18px;
    line-height: 1;
    text-align: right;
    color: #8c94ac;
  }
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  form {
    max-width: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: #cacbd5;

    div {
      margin-bottom: 10px;

      label {
        display: block;
        font-weight: bold;
        color: #54547c;
        margin-bottom: 5px;
      }

      input,
      mat-select {
        width: 100%;
        padding: 8px;
        background-color: #ffffff;
        border: 1px solid #cacbd5;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 14px;
        font-weight: bold;
      }

      p {
        margin-bottom: 5px;
        color: red;
        font-size: 14px;
      }
    }

    button[type="submit"] {
      width: 100%;
      background-color: #242c5c;
      color: #cacbd5;
      font-size: 18px;
      padding: 8px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:disabled {
        background-color: #6c708b;
        cursor: not-allowed;
      }

      &:hover:not(:disabled) {
        background-color: #1e2252;
      }
    }
  }

  mat-form-field {
    width: 100%;
  }

  .submission-message {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #cacbd5;
    text-align: center;
    color: #242c5c;
    font-size: 24px;
    line-height: 1.5;
  }
}

.warning {
  color: red;
  text-align: center;
}
