<div class="container">
    <div class="header">
        <img src="./assets/qp7mhw6sbau9.png" alt="Auction House Logo" class="logo">
        <h1 class="title">Kunstauktionshaus <br>
            Georg Rehm <br>
            Organisation von Auktionen GmbH</h1>
    </div>

    <div class="switch-container">
        <div class="language-switch">
            <button value="DE" (click)="switchLanguage('de')"
                [ngClass]="{ 'active-language': currentLang === 'de' }">DE</button>
            <button (click)="switchLanguage('en')" [ngClass]="{ 'active-language': currentLang === 'en' }">EN</button>
        </div>
    </div>




    @if (submissionMessage) {<div class="submission-message" [innerHTML]="submissionMessage">
    </div>}


    @if (!submissionMessage) {
    <form [formGroup]="auctionForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="bidderNumber">{{ currentLang === 'en' ? 'Bidder Number' : 'Bieternummer' }}:</label>
            <input type="number" formControlName="bidderNumber" id="bidderNumber" readonly>
        </div>

        <div>
            <label for="auctionNumber">{{ currentLang === 'en' ? 'Auction Number' : 'Auktionsnummer' }}:</label>
            <input type="number" formControlName="auctionNumber" id="auctionNumber" readonly>
        </div>

        <div>
            <label for="email">{{ currentLang === 'en' ? 'Email' : 'E-Mail' }}:</label>
            <input type="email" formControlName="email" id="email">
        </div>
        <div>
            <label for="comments">{{ currentLang === 'en' ? 'Comments' : 'Kommentar' }}:
            </label>
            <input type="text" formControlName="comments" id="comments">
        </div>

        <div>
            <label>{{ currentLang === 'en' ? 'Delivery Method' : 'Liefermethode' }}:</label>

            <mat-select class="select" formControlName="deliveryMethod" id="deliveryMethod">
                @for (method of deliveryMethods; track $index) {
                <mat-option [value]="method">{{method}}</mat-option>
                }
            </mat-select>


            @if (auctionForm.get('deliveryMethod')?.invalid &&
            auctionForm.get('deliveryMethod')?.touched)
            {
            <div>
                <p style="color: red;">{{currentLang === 'en' ? "Please select a delivery method" : "Bitte wählen Sie
                    eine Liefermethode" }}</p>
            </div>
            }

        </div>



        @if (auctionForm.get('deliveryMethod')?.value === 'Pick up' || auctionForm.get('deliveryMethod')?.value
        ==="Abholung") {
        <div>
            <label for="pickupDate">{{ currentLang === 'en' ? 'Pickup Date' : 'Abholdatum' }}:</label>
            <mat-form-field>
                <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" formControlName="pickupDate"
                    id="pickupDate" placeholder="MM/DD/YYYY">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

                </ mat-form-field>
                <div>
                    <label for="pickupInfo">{{ currentLang === 'en' ? 'Pickup Info' : 'Abholinfo' }}:
                    </label>
                    <input type="text" formControlName="pickupInfo" id="pickupInfo">
                </div>
        </div>
        }


        <button type="submit" [disabled]="auctionForm.invalid ">Submit</button>

    </form>
    }

</div>